/* BODY STYLES */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf; /* Adds background color */
    display: flex;
    justify-content: center; /* Displays body content to the center */
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

main{
    min-height: 80vh;
    padding: 10px;
}

@media (min-width: 1200px) {
    .container{
        width: 1024px;
        background-color: #d4e9e7;
    }

    h1{
        font-size: 64px;
    }
    h2{
        font-size: 35px;
        margin-bottom: 0.35em;
    }
    h3{
        font-size: 29px;
        margin-bottom: 0.35em;
    }
    p{
        font-size: 16px;
    }
}

@media (max-width: 767px){ 
    /* Small screen reponsiveness */
    .container{
        width: 100%;
        background-color: #d4e9e7;
    }
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 28px;
        margin-bottom: 0.35em;
    }
    h3{
        font-size: 20px;
        margin-bottom: 0.35em;
    }
    p{
        font-size: 16px;
    }
}

@media (max-width: 1199px){
    .container{
        width: 100%;
        background-color: #d4e9e7;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 35px;
        margin-bottom: 0.35em;
    }
    h3{
        font-size: 28px;
        margin-bottom: 0.35em;
    }
    p{
        font-size: 16px;
    }
}

h1,h2,h3{
    font-weight: normal;
}

/* HEADER STYLES */
.header-img{
    background: url('../images/lone-starfish-wide.jpg') center no-repeat; /* Adds background image to header */
    background-size: cover; /* Image fits full size */
    height: 300px;
    display: flex;
    justify-content: center; /* Displays content horizontally to the center */
    align-items: flex-end; /* Aligns content vertically to the bottom */
    padding: 20px 10px; /* Adds  padding */
    color: white; /* Text color white */
}

nav{
    display: flex;
    justify-content: center;
    background-color: #d4e9e7;
}

/* Navigation links styles */

nav a{
    color: black; /* Text color black */
    text-transform: uppercase;/* Makes text uppercase */
    font-size: 26px;
    text-decoration: none;
    padding: 10px 8rem ;
    margin-top: 3px;
}

nav a:nth-child(even){
    border-left: 1px solid; /* Adds border to the left */
    border-right: 1px solid; /* Adds border to the right */
}

@media(max-width: 767px){
    /* Small screen reponsiveness */
    nav a{
        font-size: 16px;
        text-decoration: none;
        padding: 2px 0 ;
        margin-top: 2px;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    nav a:nth-child(even){
        padding: 0 6%;
    }
}

@media(max-width: 991px){
    /* Medium screen reponsiveness */
    nav a{
        font-size: 18px;
        text-decoration: none;
        padding: 2px 0 ;
        margin-top: 2px;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    nav a:nth-child(even){
        padding: 0 10%;
    }
}

nav a:hover{
    text-decoration: underline; /* Adds horizontal line on hover */
}

/* ARTICLE STYLES */
.img-wrapper{
    float: left; /* Floats content to the left */
    height: 260px;
    width: 250px;
    overflow: hidden; /* Hides content exceeding required height and width */
    margin: 0 20px 20px 0;
}

@media(max-width: 767px){
    /* Small screen reponsiveness */
    .img-wrapper{
        height: 200px;
        width: 200px;
        margin: 0 10px 10px 0;
    }
}
.img-wrapper img{
    height: 100%; /* Full image height */
    width: auto; /* Fits width accordingly */
}

.facts-list{
    margin-left: -20px; /* Shifts list to the left */
}

form{
    border: 1px solid;
    padding: 20px;
}

input[type=text], input[type=email], textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

.radio-text{
    font-size: 22px;
    margin: 0.4em auto;
}

@media(max-width: 767px){
    /* Small screen reponsiveness */
    .radio-text{
        font-size: 18px;
        margin: 0.4em auto;
    }
}

.submit-btn{
    background-color: transparent;
    color: black;
    border: 1px solid;
    padding: 0.7em 1em;
}

.submit-btn:hover{
    background-color: white;
}

/* FOOTER STYLES */
footer{
    padding: 20px;
    display: flex;
    justify-content: end; /* displays footer on the  right */
}